*.acn
*.acr
*.alg
*.aux
*.bbl
*.bib.bak
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
Hill13.pdf
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lol
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.ods
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo
